.span1 {
    color: darkgreen;
    font-weight: bold;
}

.span2 {
    color: red;
    font-weight: bold;
}

.texts{
    font-size: 25px;
    animation: opacityani 2.5s;
}


@keyframes opacityani { 
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  